langgraph
langgraph-checkpoint-postgres
langchain-community
langchain-openai
pypdf
langchain-text-splitters
wikipedia
langchain-tavily
python-dotenv
psycopg2-binary
psycopg[binary]
PyYAML
Flask
flask-cors
matplotlib
numpy
pandas
